.registrationBody{
    background-image: url(img/travelsBackgroundImg.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.box1{

    margin-left: 50%;
    background-color: rgba(100, 148, 237, 0.234);
    width: 30%;
    padding: 30px;
    margin-top:5%;border-radius: 5%;
}
#title{
    font-family: monospace;
    text-align: center;
}
.inputFeeld{
    border-radius: 40px;
    background-color: transparent;
    border-color: cornflowerblue;
}

.secondCol{
    padding-left: 5%;
}

.btn{
    color: antiquewhite;
    background-color: darkblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 4%;
    border-radius: 20px;
    border: none;
    
}

.btn:hover{
    cursor: pointer;
    box-shadow: 1px 1px 15px darkblue;
}

.btn:active{
   background-color: cornflowerblue;
    color: black;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.loadpageMain{

    height:100vh;

    background:#00c8d2;

}

.carousel-custom{
    width:75%;
}

.carousel-custom img{
    height:600px;      /* Change this if you want */
    object-fit:cover;
}

